{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

    <link rel="stylesheet" href="{% static 'searchBook/searchBook.css' %}">
    <link rel="stylesheet" href="{% static 'manageBooks/navBar.css' %}">
</head>
<body>
    <header class="navBar">
        <div class="logo"><p>M. I. Z</p></div>
        <div class="links">
            <p><a href="{% url 'home' %}">home</a></p>
            <p><a href="{% url 'searchBooks' %}">Search Books</a></p>
            {% if user.is_authenticated %}
            <p><a href="">User</a></p>
            {% endif %}
        </div>
        <div class="user">
            {% if user.is_authenticated %}
            <p class="logout"><a href="{% url 'logout' %}">LOG OUT</a></p>
            {% else %}
            <p class="login"><a href="{% url 'login' %}">LOG IN</a></p>
            <p class="signup"><a href="{% url 'register' %}">SIGN UP</a></p>
            {% endif %}
        </div>
    </header>
    <div class="body">
        <div class="searchContainer">
            <div class="sBlock">
                <label for="searchTitle">Enter Title:</label><br>
                <input type="text" id="searchTitle" name="title"><br>
                <label for="searchAuthor">Enter Author Name:</label><br>
                <input type="text" id="searchAuthor" name="author"><br>
                <label for="searchPublisher">Enter Publisher Name:</label><br>
                <input type="text" id="searchPublisher" name="publisher"><br>
                <label for="searchSubject">Enter Genre:</label><br>
                <input type="text" id="searchSubject" name="subject"><br>
                <label>Select Order:</label>
                <select id="order">
                    <option value="relevance">Relevance</option>
                    <option value="newest">Newest</option>
                </select>

                <button onclick="validateData()">SEARCH</button>
            </div>
        </div>
        <div class="resultContainer" id="resultContainer">
            <!-- <div class="loader" id="loader">
                <div></div>
            </div> -->
            <p class="intro"><span>WELCOME TO MY BOOK WEBSITE!</span><br>
                Please enter at least one field in the search box.<br>
                Click on the book's title for detail informations of that book.
            </p>
        </div>
    </div>

    <script src="{% static 'searchBook/searchBook.js' %}"></script>
</body>
</html>
