{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock title %}Search

{% block styles %}
<link rel="stylesheet" href="{% static 'searchBook/searchBook.css' %}">
{% endblock styles %}

{% block content %}

<div class="body">
    <div class="searchContainer">
        <div class="sBlock">
            <label for="searchTitle">Enter Title:</label><br>
            <input type="text" id="searchTitle" name="title"><br>
            <label for="searchAuthor">Enter Author Name:</label><br>
            <input type="text" id="searchAuthor" name="author"><br>
            <label for="searchPublisher">Enter Publisher Name:</label><br>
            <input type="text" id="searchPublisher" name="publisher"><br>
            <label for="searchSubject">Enter Genre:</label><br>
            <input type="text" id="searchSubject" name="subject"><br>
            <label>Select Order:</label>
            <select id="order">
                <option value="relevance">Relevance</option>
                <option value="newest">Newest</option>
            </select>

            <button onclick="validateData()">SEARCH</button>
        </div>
    </div>
    <div class="resultContainer" id="resultContainer">
        <p class="intro"><span>WELCOME TO MY BOOK WEBSITE!</span><br>
            Please enter at least one field in the search box.<br>
            Click on the book's title for detail informations of that book.
        </p>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'searchBook/searchBook.js' %}"></script>
{% endblock javascripts %}

