{% extends 'base.html' %}
{% load static %}

{% block title %}Details{% endblock title %}Details

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'manageBooks/bookDetail.css' %}">
{% endblock styles %}

<div class="maincontainer">
    <div class="maindetailsContainer">
        <p id="maintitle" data-id="{{ book.bookId }}">{{ book.title }}</p>
        <div class="dDetails">
            <p class="dImage" id="dImage">
                <img src="{{ book.imageLink }}" alt="no image" width="100%" height="100%">
            </p>
            <div class="dInfo">
                <p id="authorName" data-author="{{ book.author }}"><span>Author Name: </span>{{ book.author }}</p>
                <p><span>Publisher Name: </span>{{ book.publisher }}</p>
                <p><span>Publish Date: </span>{{ book.publishDate }}</p>
                <p><span>Total Views: </span>{{ book.totalViews }}</p>
                <p><span>Rating: </span>{{ book.rating }}</p>

                {% if canRate %}
                <form action="{% url 'postRating' book.bookId %}" method="post">
                    {% csrf_token %}
                    <label for="id_select" style="font-size: 17px; font-family: 'Arial Black'">Select Rating:</label><br>
                    <select name="rating" id="id_select" style="width: 100%; border-radius: 0; height: 30px;">
                        <option value="1">ONE STAR</option>
                        <option value="2">TWO STAR</option>
                        <option value="3">THREE STAR</option>
                        <option value="4">FOUR STAR</option>
                        <option value="5">FIVE STAR</option>
                    </select>
                    <input type="submit" value="RATE" id="button" style="width: 100%; height: 30px; margin-top:5px;">
                </form>
                {% else %}
                <p>ALREADY RATED!</p>
                {% endif %}

            </div>
        </div>
        <div class="dDescription">
            <p class="dDsc" id="dDsc">
                <span>Description: </span><br>{{ book.description }}
            </p>
        </div>
        <div class="dReview">
            <div class="dPostReview">
                {% if canReview %}
                <form action="{% url 'postReview' book.bookId %}" method="post">
                    {% csrf_token %}
                    <label for="id_text">Enter Review:</label><br>
                    <input type="text" id="id_text" name="message" maxlength="200" required><br>
                    <input type="submit" value="POST" id="button">
                </form>
                {% else %}
                <p>YOU HAVE ALREADY REVIEWED THIS BOOK!</p>
                {% endif %}
            </div>
            <div class="dShowReviews" id="dShowReviews">
                Reviews by Our Users:
            </div>
        </div>
    </div>
    <div class="recommendContainer">
        <p>Recommend Books From Same Author:</p>
        <div class="recommendAuthor" id="recommendAuthor"></div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'manageBooks/bookDetail.js' %}"></script>
{% endblock javascripts %}