  {% extends 'base.html' %}
  {% load static %}
  
  {% block title %}
  Home
  {% endblock title %}

  {% block styles%}
  <link rel="stylesheet" href="{% static 'manageBooks/home.css' %}">
  {% endblock styles %}

  {% block content %}
  <div class="container-fluid _resultcontainer">
    <div class="row _recentbookcontainer">
        <p>Recently Viewed Books:</p>
        <div class="_container" id="recentBooks">
            <div class="loader" id="loader">
                <div></div>
            </div>
        </div>
    </div>
    <div class="row _recentbookcontainer">
        <p>Recently Reviewed Books:</p>
        <div class="_container" id="recentReviewedBooks">
            <div class="loader" id="loader">
                <div></div>
            </div>
        </div>
    </div>
    <div class="row _recentbookcontainer">
        <p>Top Viewed:</p>
        <div class="_container" id="topViewedBooks">
            <div class="loader" id="loader">
                <div></div>
            </div>
        </div>
    </div>
    <div class="row _recentbookcontainer">
        <p>Top Rated Books:</p>
        <div class="_container" id="topRatedBooks">
            <div class="loader" id="loader">
                <div></div>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}

  {% block javascripts %}
  <script src="{% static 'manageBooks/home.js' %}"></script>
  {% endblock javascripts %}

