{% extends 'base.html' %}
{% load static %}


{% block title %}
    Log In
{% endblock title %}


{% block styles %}
<link rel="stylesheet" href="{% static 'userManager/login.css' %}">
{% endblock styles %}
    

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <label for="idUserName">User Name: </label>
        <input type="text" id="idUserName" name="username"><br>

        <label for="idPassword">Password: </label>
        <input type="password" id="idPassword" name="password"><br>

        <input type="submit" value="LOG IN" class="button">
    </form>
</div>

{% endblock content %}

    