<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="idUserName">User Name: </label>
        <input type="text" id="idUserName" name="username"><br>

        <label for="idPassword">User Name: </label>
        <input type="password" id="idPassword" name="password"><br>

        <input type="submit" value="LOG IN">
    </form>
</body>
</html>