{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'userManager/registerForm.css' %}">
    <link rel="stylesheet" href="{% static 'manageBooks/navBar.css' %}">
</head>
<body>
    <header class="navBar">
        <div class="logo"><p>M. I. Z</p></div>
        <div class="links">
            <p><a href="{% url 'home' %}">home</a></p>
            <p><a href="{% url 'searchBooks' %}">Search Books</a></p>
            {% if user.is_authenticated %}
            <p><a href="">User</a></p>
            {% endif %}
        </div>
        <div class="user">
            {% if user.is_authenticated %}
            <p class="logout"><a href="{% url 'logout' %}">LOG OUT</a></p>
            {% else %}
            <p class="login"><a href="{% url 'login' %}">LOG IN</a></p>
            <p class="signup"><a href="{% url 'register' %}">SIGN UP</a></p>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <form method="post">
            {% csrf_token %}
    
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Create User Name:</label>
            {{ form.username }}<br>
    
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">Create Password:</label>
            {{ form.password1 }}<br>
    
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">Repeat Password:</label>
            {{ form.password2 }}<br>
    
            <input type="submit" value="REGISTER" class="button">
        </form>
    </div>
</body>
</html>