{% extends 'base.html' %}
{% load static %}


{% block title %}
    Register
{% endblock title %}


{% block styles %}
<link rel="stylesheet" href="{% static 'userManager/registerForm.css' %}">
{% endblock styles %}
    

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}

        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Create User Name:</label>
        {{ form.username }}<br>

        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}">Create Password:</label>
        {{ form.password1 }}<br>

        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}">Repeat Password:</label>
        {{ form.password2 }}<br>

        <input type="submit" value="REGISTER" class="button">
    </form>
</div>
{% endblock content %}