*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.detailsContainer{
    border: 1px solid red;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}
.dDetails{
    border: 1px solid blue;
    width: 100%;
    height: 400px;
    display: flex;
}
.dImage{
    border: 1px solid red;
    height: 100%;
    width: 40%;
}
.dInfo{
    border: 1px solid blue;
    height: 100%;
    width: 60%;
}
.recommendContainer{
    border: 1px solid blue;
    width: 30%;
    height: 100%;
}