*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
._navcontainer{
    height: 100px;
}
._row{
    background-image: linear-gradient(to right, black, blue);
    height: 100%;
}
._logo{
    width: 70px;
    height: 100%;
}
._introcontainer span{
    display: inline-block;
    color: white;
    font-style: italic;
    font-size: 20px;
    margin-left: 30px;
    text-shadow: 3px -3px 5px rgb(255, 0, 0);
}
._buttons{
    width: fit-content;
    display: inline-block;
    font-size: 20px;
    font-family: "Arial Black";
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
}
